* {
  font-family: sans-serif;
}

.form-table {
  border-collapse: collapse;
  margin: 0 0;
  font-size: 20px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition: max-height 0.2s ease-out;
}

.form-table thead tr {
	font-size: 20px;
  background-color: rgb(65,95,142);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  text-align: center;
}

.form-table th{
	 padding: 12px 15px
}
.form-table td {
	 font-size: 20px;
  padding: 6px 15px;
}

.form-table tbody tr {
  border-bottom: 1px solid #dddddd;
}


.form-table tbody tr:nth-of-type(even) {
  background-color: rgb(223, 223, 223);
}

/* use when searching to easily find file */
/*
.form-table tbody tr:hover {
  background-color: #rgb(136, 143, 149);
}
*/
.form-table tbody tr:hover {
  background-color: #bababa;
  color: black;
}

/*  BUTTONS FORM */

input[type=submit],input[type=url]  {
	width: 100%;
  text-align:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
   padding: 5px 12px 5px 12px; /*12*/
  cursor: pointer;

}

input[type=url]{
width: 100%;
  text-align:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
   padding: 5px 12px 5px 12px; /*12*/
  cursor: pointer;
}

input[type=text]{
width: 100%;
height:100%;
  text-align:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  padding: 5px 12px 5px 12px; /*12*/
  text: pointer;
}

input[type=name]{
width: 100%;
  text-align:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  padding: 5px 12px 5px 12px; /*12*/
}

input[type=email]{
width: 100%;
  text-align:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  padding: 5px 12px 5px 12px; /*12*/
}

/*  BUTTONS FORM */

input[type=submit]{
width: 100%;
  text-align:center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  padding: 0 40px 0 40px; /*12*/
}

input[type=reset]{
width: 100%;
margin: 5 0 0 0;
  text-align:center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  padding: 0 40px 0 40px; /*12*/
}

input[type=date]{
width: 100%;
margin: 5 0 0 0;
  text-align:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  padding: 0 40px 0 40px; /*12*/
}

input[type=number]{
width: 100%;
margin: 5 0 0 0;
  text-align:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  padding: 5px 12px 5px 12px; /*12*/
  text: pointer;
}

input[type=text]{
width: 100%;
height:100%;
 text-align:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  padding: 5px 12px 5px 12px; /*12*/
  text: pointer;
}

input[type=checkbox]{
  height: 15px;
  width: 15px;
  text-align:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: black;
  padding: 5px 12px 5px 12px; 
  text: pointer;
}

#mCode{
  width: 100%;
  margin: 5 0 0 0;
    text-align:right;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
   padding: 5px 12px 5px 12px;
    cursor: pointer;
  }

#payment_terms{
  width: 100%;
  margin: 5 0 0 0;
    text-align:left;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    padding: 5px 12px 5px 12px;
      cursor: pointer;
}

#ltl_quantities{
  width: 100%;
  margin: 5 0 0 0;
    text-align:left;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
   padding: 5px 12px 5px 12px;
    cursor: pointer;
}

#create_interaction{
	width: 100%;
	margin: 15 5 1 5;
	text-align: center box-sizing border-box;
	border: 2px solid #000;
	border-radius: 4px;
	font-size: 20px;
	background-color: rgb(167, 197, 244);
	padding: 5px 12px 5px 12px;
	cursor: pointer;
}

textarea {
 width: 100%;
  text-align:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  padding: 0 40px 0 40px; /*12*/
}
