body {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  overflow: hidden;
  background-color: #333;
  border-radius: 6px;
}

.navigation a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: left;
  padding: 5px 5px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-user {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 25px 20px;
  background-color: #333;
  font-family: inherit;
  margin: 0;
}

.dropdown-user .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 25px 25px;
  background-color: #333;
  font-family: inherit;
  margin: 0;
}

.navigation a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

.navigation a:hover, .dropdown-user:hover .dropbtn {
  background-color: #ddd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-user {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 25px 25px 25px 25px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-user a {
  float: none;
  color: black;
  padding: 25px 25px 25px 25px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-user:hover .dropdown-content {
  display: block;
}
