#column_heading{
background-color: powderblue;
font-weight: bold;
column-width:100%; 
}
body {
    margin:50px 0px; padding:0px;
    text-align:center;
    align:center;
}
form
{
	    margin-left: 25%;
    margin-right:25%;
    width: 100%;
	 
	 position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
}
    /*display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}